{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/image/kelincikeluarga.jpg'%}">
</head>
<body>
    <p>haii dianaaa</p>
    <img src="https://www.google.com/search?q=kelinci&sca_esv=580393850&rlz=1C1CHBF_enID1056ID1056&tbm=isch&sxsrf=AM9HkKkRvQvjmKXsRL15WgAPK3G1FU5jpw:1699428959241&source=lnms&sa=X&ved=2ahUKEwifqb6b8rOCAxUM3jgGHeMCBjsQ_AUoAXoECAQQAw&biw=1366&bih=651&dpr=1#imgrc=oIntse_rGZC6QM" alt="kelinci lucu">
</body>
</html>

{% endblock %}